@page "/settings"
@using Sofragrancia.UI.Components
@using Sofragrancia.UI.Components.Settings

<Topbar Title="⚙️ Configurações" Breadcrumb="Início > Configurações" />
<div class="page-content">
    
    <PageIntroduction
        Icon="⚙️"
        Title="Painel de Controle Corporativo"
        Description="Gerencie as credenciais de segurança do seu perfil e administre os acessos da equipe ao ERP Sofragrância. 
                    <br>Campos de identificação e níveis de permissão são restritos e gerenciados estritamente pela administração.">
    </PageIntroduction>

    <TabNavigation
        Tabs="tabs"
        ActiveTab="@abaAtiva"
        ActiveTabChanged="AlternarAba">
    </TabNavigation>

    <div class="tab-container" style="animation: fadeIn 0.3s ease-in-out;">
        
        @if (abaAtiva == "perfil")
        {
            <MyProfile></MyProfile>
        }

        @if (abaAtiva == "usuarios")
        {   <NewUser></NewUser>

        }
    </div>
</div>